
.friends-possible
  background #FFF 
  box-shadow standart-boxshadow 
  width 100% 
  padding 30px 40px 40px 
  margin-top 20px 

  @media (max-width breakpoint-xxl)
    padding 20px 30px 30px 

.friends-possible__title
  font-family font-exo 
  font-weight 600 
  font-size 24px 
  color #000 
  margin-bottom 15px 
  margin-left 15px 

.friends-possible__list
  margin-bottom 15px 

.friends-possible__item
  display flex 
  align-items center 
  padding 15px 0 
  border-top 1px solid #E6E6E6 

.friends-possible__pic
  width 50px 
  height 50px 
  border-radius 50% 
  overflow hidden 
  margin-right 20px 
  flex none 

  img
    width 100% 

.friends-possible__name
  font-weight 600 
  font-size 15px 
  color #000 
  display block 
  margin-right auto 

.friends-possible__link
  font-size 13px 
  color eucalypt 

.friends-possible__btn
  display flex 
  align-items center 
  justify-content center 
  width 100% 
  height 50px 
  border 2px solid eucalypt 
  cursor pointer 
  background transparent

  .simple-svg-wrapper
    width 16px 
    height 23px 
    margin-right 5px 

  .simple-svg
    stroke eucalypt 
    fill transparent  
