@font-face
	font-family 'Open Sans'
	src url('/static/fonts/OpenSans-SemiBold.eot')
	src local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('/static/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/OpenSans-SemiBold.woff') format('woff'),
		url('/static/fonts/OpenSans-SemiBold.ttf') format('truetype')
	font-weight 600
	font-style normal

@font-face
	font-family 'Open Sans'
	src url('/static/fonts/OpenSans-Regular.eot')
	src local('Open Sans Regular'), local('OpenSans-Regular'),
		url('/static/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/OpenSans-Regular.woff') format('woff'),
		url('/static/fonts/OpenSans-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Open Sans'
	src url('/static/fonts/OpenSans-Bold.eot')
	src local('Open Sans Bold'), local('OpenSans-Bold'),
		url('/static/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/OpenSans-Bold.woff') format('woff'),
		url('/static/fonts/OpenSans-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal

@font-face
	font-family 'Open Sans'
	src url('/static/fonts/OpenSans-Light.eot')
	src local('Open Sans Light'), local('OpenSans-Light'),
		url('/static/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/OpenSans-Light.woff') format('woff'),
		url('/static/fonts/OpenSans-Light.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Exo'
	src url('/static/fonts/Exo20-Regular.eot')
	src local('Exo Regular'), local('Exo20-Regular'),
		url('/static/fonts/Exo20-Regular?#iefix') format('embedded-opentype'),
		url('/static/fonts/Exo20-Regular.woff') format('woff'),
		url('/static/fonts/Exo20-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Exo'
	src url('/static/fonts/Exo20-ExtraLight.eot')
	src local('Exo ExtraLight'), local('Exo20-ExtraLight'),
		url('/static/fonts/Exo20-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Exo20-ExtraLight.woff') format('woff'),
		url('/static/fonts/Exo20-ExtraLight.ttf') format('truetype')
	font-weight 200
	font-style normal

@font-face
	font-family 'Exo'
	src url('/static/fonts/Exo20-Light.eot')
	src local('Exo Light'), local('Exo20-Light'),
		url('/static/fonts/Exo20-Light.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Exo20-Light.woff') format('woff'),
		url('/static/fonts/Exo20-Light.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Exo'
	src url('/static/fonts/Exo20-SemiBold.eot')
	src local('Exo SemiBold'), local('Exo20-SemiBold'),
		url('/static/fonts/Exo20-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Exo20-SemiBold.woff') format('woff'),
		url('/static/fonts/Exo20-SemiBold.ttf') format('truetype')
	font-weight 600
	font-style normal

@font-face
	font-family 'Exo'
	src url('/static/fonts/Exo20-Bold.eot')
	src local('Exo Bold'), local('Exo20-Bold'),
		url('/static/fonts/Exo20-Bold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Exo20-Bold.woff') format('woff'),
		url('/static/fonts/Exo20-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal
