*, *:before, *:after
	vertical-align baseline
	font-family inherit
	font-size 100%
	border 0 none
	outline 0 none
	padding 0
	margin 0
	box-sizing border-box

html,body
	width 100%
	height 100%
	font-family font-open
	font-size 16px
	line-height 1


ul,li
	list-style-type none

p
	margin 0

a
	text-decoration none
	color black

img
	max-width 100%

input
	cursor text

button
	cursor pointer

button:disabled
	cursor default

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle


textarea
	resize none
