// colors

eucalypt = #21A45D
steel-gray = #1D1D2B
jumbo = #707079
comet = #5F5E7A
gun-powder = #434257
wild-watermelon = #FF5573
sea-green = #2C8F59
bright-sun = #FFE03C
scarpa-flow = #5A5A62
charade = #292938
manatee = #9897A6
white-lilac = #F1F3F9
santas-gray = #A4A4B8
storm-gray = #747487
silver-sand = #C4C5C7

// sizes

breakpoint = 1024px
breakpoint-lg = 1280px
breakpoint-xl = 1366px
breakpoint-xxl = 1919px

sidebar-width = 310px
sidebar-width-xl = 250px
header-height = 85px
standart-padding = 45px 40px 300px
standart-padding-xxl = 25px 20px 300px
standart-boxshadow = 0px 2px 8px rgba(0, 0, 0, 0.08)

// fonts

font-open = 'Open Sans', Arial, sans-serif
font-exo = 'Exo', Arial, sans-serif
