
.aside-filter-notes
  background transparent
  box-shadow none
  padding 0

.aside-filter-notes__title
  margin-bottom 15px
  font-family font-exo
  font-size 24px
  font-weight 600

.aside-filter-notes__list
  display flex

.aside-filter-notes__item
  color rgba(#000, 0.5)
  font-size 15px
  padding 30px 0
  border-top 1px solid #e6e6e6
  cursor pointer

  &.active
    cursor default
    font-weight 600
    color eucalypt

  @media (max-width breakpoint-xxl)
    padding 0
    color steel-gray
    border-top none
    display block
    padding 20px
    flex auto 
