.form__title
  font-family font-exo
  font-weight 200
  font-size 40px
  letter-spacing -0.01em
  @media (max-width breakpoint-xxl)
    font-size 28px

.form__block
  &+&
    margin-top 70px
  @media (max-width breakpoint-xxl)
    &+&
      margin-top 40px

.form__subtitle
  font-size 18px
  margin-bottom 40px
  @media (max-width breakpoint-xxl) 
    margin-bottom 25px

.form__code
  font-weight 300
  font-size 30px
  letter-spacing 0.43em
  margin-bottom 30px
  display block

.form__group
  position relative
  &:after
    content ''
    display block
    transform rotate(45deg)
    width 8px
    height 11px
    border 1px solid transparent
    border-bottom-color #fff
    border-right-color #fff
    position absolute
    right 10px
    bottom 14px
    opacity 0
    visibility hidden
    transition all .2s

  &+&
    margin-top 50px

  &.fill
    .form__label_stylus
      font-size 10px;
      line-height 15px;
      letter-spacing 0.02em;
      top -15px

  &.checked
    &:after
      opacity 1
      visibility visible
    .form__password-icon
      display none

  @media (max-width breakpoint-xxl) 
    &+&
      margin-top 35px

.form__input_stylus
  width 100%
  border-bottom 1px solid rgba(255, 255, 255, 0.5)
  font-size 15px
  line-height 22px
  color #fff
  background-color transparent
  padding-bottom 10px
  cursor text
  transition all .2s
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus
    background-color transparent !important
    color #fff !important
    -webkit-animation-name autofill
    -webkit-animation-fill-mode both
  &:focus
    border-bottom-color #fff
  &.invalid
    border-bottom-color wild-watermelon

.form__label_stylus
  position absolute
  left 0
  font-size 15px;
  line-height 22px;
  color rgba(255, 255, 255, 0.4);
  transition all .2s
  cursor text

.form__password-icon
  position absolute
  right 10px
  bottom 14px
  opacity 0
  visibility hidden
  width 19px
  height 12px
  transition all .2s
  &.active
    opacity 1
    visibility visible
  &:hover
    & + .form__password-info
      opacity 1
      visibility visible

.form__password-info
  font-weight 600
  font-size 13px
  line-height 23px
  letter-spacing 0.01em
  position absolute
  top 100%
  left 0
  right 0
  background-color sea-green
  display block
  padding 20px
  z-index 100
  opacity 0
  visibility hidden
  transition all .2s

.form__password-helper
  position absolute
  top 30px
  left 0
  right 0
  height 2px
  background-color transparent
  &.easy
    width 33%
    background-color wild-watermelon
  &.middle
    width 66%
    background-color bright-sun
  &.hard
    width 100%
    background-color cyan

.form__error
  font-size 10px
  position absolute
  bottom -15px
  left 0
  color rgba(255, 255, 255, 0.7);

.form__checkbox
  visibility hidden
  opacity 0
  height 0
  width 0
  &:checked
    & + .form__checkbox-label
      &:before
        background #fff
      &:after
        opacity 1
        visibility visible
  &.invalid
    & + .form__checkbox-label
      &:before
        border-color wild-watermelon

.form__checkbox-label
  cursor pointer
  font-size 13px
  line-height 19px
  padding-left 23px
  display block
  position relative
  color rgba(255, 255, 255, 0.4)
  &:before,&:after
    content ''
    display block
    position absolute
    transition all .2s
  &:before
    width 15px;
    height 15px;
    border 1px solid rgba(255, 255, 255, 0.5);
    left 0
  &:after
    width 5px;
    height 7px;
    border 1px solid transparent;
    border-right-color #1d1c2a;
    border-bottom-color #1d1c2a;
    left 5px;
    top 3px;
    transform rotate(30deg);
    opacity 0
    visibility hidden
  a
    color rgba(255, 255, 255, 0.7)
    transition all .2s
    &:hover
      color #fff

@-webkit-keyframes autofill
  to
    color #fff
    background transparent