.inner-page
  padding standart-padding
  display flex
  flex-direction column
  @media (max-width breakpoint-xxl)
    padding standart-padding-xxl

.inner-page__main
  max-width 69%
  display flex
  flex-direction column
  margin-right 40px
  @media (max-width breakpoint-xxl)
    margin-right 20px
  @media (max-width breakpoint-xl)
    max-width 100%
    margin-right 0

.inner-page__aside
  flex none
  max-width 430px
  width 100%
  @media (max-width breakpoint-xxl)
    max-width 380px
