.select
  font-size 15px
  color #000
  padding 0 15px
  height 35px
  border 1px solid #E3E3E3
  border-radius 0
  -moz-appearance none
  -webkit-appearance none
  appearance none
  background #fff url('/static/img/arrow-bottom.png') no-repeat calc(100% - 10px) 16px

