.profile__info
  margin-bottom 45px

.profile__tabs
  display flex
  margin-bottom 15px

.profile__tab
  cursor pointer
  font-family font-exo
  font-weight 200
  font-size 30px
  color steel-gray
  transition all 0.2s

  @media (max-width breakpoint-xxl)
    font-size 24px
  
  &+&
    margin-left 10px
    padding-left 10px
    border-left 1px solid steel-gray
  
  &.active
    color #000
    cursor default
    font-weight normal
  
.profile__add
  margin-bottom 20px