.push__img
  width 65px
  height 65px
  border-radius 50%
  overflow hidden
  margin-right 20px

  img
    width 100%

.push__content
  width 100%
  max-width 350px
  margin-right auto
  color steel-gray
  font-size 15px
  line-height 22px

.push__content-name
  color #000
  font-weight 600

.push__content-preview
  color eucalypt
  font-weight 600

.push__time
  font-size 15px
  line-height 22px
  color #5A5A5A